.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* display: inline-block; */
    transition: 0.3s;
    font-size: larger;
    /* margin-bottom: 1em; */
    background: linear-gradient(rgba(250, 238, 216, 0.7),
    rgba(250, 238, 216, 0.7)), 
    url(../img/pariscafe.jpg);
    background-size: cover;
    padding: 2em 1em 3em 1em;
    margin: 1em 0em;
}

.sidebar {
    text-shadow: .2px .2px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.post2 {
    background: linear-gradient(rgba(250, 238, 216, 0.7),
    rgba(250, 238, 216, 0.7)), 
    url(../img/books.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover;
    margin: 1em 0em;
    padding: 2em 1em 3em 1em;
    /* display: inline-block; */

}



.post3 {
    background: linear-gradient(rgba(250, 238, 216, 0.7),
    rgba(250, 238, 216, 0.7)),  
    url(../img/seine.jpg);
    background-size: auto, cover;
    padding: 2em 1em 3em 1em;
    /* display: block; */
    /* margin-top: 2em; */


}


/* CSS for medium and large screens*/

@media(min-width: 745px) {
    body {
        display: grid;
        width: 99%;
        grid-template-columns: 65% 34%;
        /* grid-template-rows: 20vw 45vw 10vw; */
        /* grid-template-rows: 25% 67% 5%; */
        grid-auto-rows: minmax(100px 1fr);
        /* grid-template-rows: 20vw 45vw 10vw; */
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
        grid-gap: 1%;
        grid-template-areas:
        "hd hd"
        "main sd"
        "ft ft";
        /* margin: 2em 2em 2em 2em; */
    }

    .head {
        grid-area: hd;
    }
    
    .card {
        grid-area: main;
        margin: 0em;
    }
    
    .sidebar {
        grid-area: sd;
        /* align-self: center; */    
    }
    
    footer {
        grid-area: ft;
    }

    .post3 {
        margin: 1em 0em 0em 0em;
    }
    
    .title {
        font-size: 400%;
    }

    .post2 {
        margin: 0em;
    }

    .card p {
        font-size: 135%;
    }

/* add one more breakpoint? */


}