/* Import CSS for universal styling, homepage, and post page*/
@import "home.css";
@import "post.css";
@import "universal.css";

/* small change for small cell phones */
@media(max-width: 412px) {
    .head {
        font-size: small;
    }
}

/* Navigation Bar */
#main-nav {
    align-self: center;
    font-size: 120%;
    padding-left: 1em;
}

.archives, .contact {

    font-family: 'Parisienne', cursive;
    padding: 0.5em;
}

.right-bar {
    text-align: center;
    align-self: center;
    margin-right: 0.5em;
    background: 
    linear-gradient(rgba(250, 238, 216, 0.3),
    rgba(250, 238, 216, 0.5));
}

.fa {
    font-size: 5em;
    padding: 0.5em 0em;
}

.head {
    display: flex;
    background: 
    linear-gradient(rgba(250, 238, 216, 0.5),
    rgba(250, 238, 216, 0.5)),
                url("../img/rooftops.jpg") 0 350px;
    justify-content: space-between;
    margin-bottom: 1em;
}

.date {
    color: #A9A9A9;
    text-align: end;
    font-size: smaller;
    margin: 0;

}

/* Card */
/* main card content in home.css */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Footer */
footer {
    margin-top: 3em;
    text-align: center;
    font-family: 'Parisienne', cursive;
}

.submit {
    background-color: #4d0013;
    border: none;
    color: #faeed8;
    padding: 1em;
    text-align: center;
    margin: 1em;
    cursor: pointer;
}

.submit:hover {
    background-color: #301934;
}