/* Import CSS for larger screens and post page*/
/* @import "medium-screen.css";
@import "large-screen.css";
@import "post.css"; */


/* General Rules */

body {
    background-color:  #faeed8;
    font-family: 'Prata', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

a {
    color: #4d0013;
    text-decoration: none;
    cursor: pointer;
}

.title {
    font-family: 'Prata', serif;
    font-family: 'Parisienne', cursive;
    align-self: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #565656;

}

a {
    color: #4d0013;
    text-decoration: none;
}

a:hover {
    color: #301934;
    font-weight: bold;
}
/* Navigation Bar */

#main-nav {
    /* display: inline; */
    align-self: center;
    font-size: 120%;
    /* justify-self: start; */
    /* float: left; */
    /* padding-left: 1em; */
}

.archives, .contact {

    font-family: 'Parisienne', cursive;
    padding: 0.5em;
    /* margin: 1em; */
}

.right-bar {
    align-self: center;
    /* padding: .5em; */
    background: 
    linear-gradient(rgba(250, 238, 216, 0.3),
    rgba(250, 238, 216, 0.5));
    margin: 1em 2em 2em 1em;
}


.fa {
    font-size: 5em;
    padding: 1em;
}

.head {
    display: flex;
    background: 
    linear-gradient(rgba(250, 238, 216, 0.5),
    rgba(250, 238, 216, 0.5)),
                url("../img/rooftops.jpg") 0 350px;
    justify-content: space-between;
    /* padding: 0; */
    margin-bottom: 1em;
}

.date {
    color: #A9A9A9;
    text-align: end;
    font-size: smaller;
    margin: 0;

}

/* Card */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* display: inline-block; */
    transition: 0.3s;
    font-size: larger;
    /* margin-bottom: 1em; */
    background: linear-gradient(rgba(250, 238, 216, 0.7),
    rgba(250, 238, 216, 0.7)), 
    url(../img/pariscafe.jpg);
    background-size: cover;
    padding: 2em 1em 3em 1em;
    margin: 1em 0em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Footer */
footer {
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 3em;
    text-align: center;
    font-family: 'Parisienne', cursive;
}

.submit {
    background-color: #4d0013;
    border: none;
    color: #faeed8;
    padding: 1em;
    text-align: center;
    margin: 1em;
    cursor: pointer;
}

.submit:hover {
    background-color: #301934;
}


