@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 50vh 300vh 10vh;

        grid-template-areas: 
        "hd hd hd hd"
        "main main main sd"
        "ft ft ft ft";

    }

    .head {
        grid-area: hd;
    }

    .card {
        grid-area: main;
    }

    .sidebar {
        grid-area: sd;

    }

    #footer {
        grid-area: ft;
    }





}

