.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: larger;
    background: linear-gradient(rgba(250, 238, 216, 0.7),
    rgba(250, 238, 216, 0.7)), 
    url(../img/pariscafe.jpg);
    background-size: cover;
    padding: 2em 1em 3em 1em;
    margin: 1em 0em;
}

.featured-photo {
    height: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.author-photo {
    height: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.about {
    text-align: center;
    padding: 2em 1em 3em 1em;
    border-bottom: #301934;
    border-style: solid;
}

.aboutsocial li{
    display: inline-block;
    padding: 1em;
}

figcaption {
    padding-top: 1em;
    text-align: center;
    font-size: smaller;
}

.card h2 {
    text-align: center;
    padding: 0em 1em 1em 1em;
}


@media(min-width: 660px) {
    body {
        display: grid;
        width: 99%;
        grid-template-columns: 78% 21%;
        grid-auto-rows: minmax(100px 1fr);
        grid-gap: 1%;
        grid-template-areas:
        "hd hd"
        "main sd"
        "ft ft";
    }

    .head {
        grid-area: hd;
    }
    
    .card {
        grid-area: main;
        margin: 0em;
    }
    
    .card p {
        font-size: 135%;
    }

    .about {
        grid-area: sd;
        padding-top: 0em;
        border-style: none;
    }
    
    footer {
        grid-area: ft;
    }
    
    .title {
        font-size: 400%;
    }

    .author-photo {
        height: auto;
        width: 100%;
    }
    
}